{
  "user_info": "CREATE TABLE IF NOT EXISTS  `TABLE_TEMPLATE` (  `id` bigint(12) unsigned NOT NULL AUTO_INCREMENT COMMENT '主键ID',  `user_id` bigint(20) NOT NULL COMMENT '用户ID',  `nick_name` varchar(128) CHARACTER SET utf8mb4 NOT NULL DEFAULT '' COMMENT '用户昵称',  `telephone` varchar(20) NOT NULL DEFAULT '' COMMENT '手机号码', PRIMARY KEY (`id`), UNIQUE KEY `unq_userid` (`user_id`))ENGINE=InnoDB DEFAULT CHARSET=utf8"
}